.card {
    background: #546a77;
    border: 1px solid #bac1cc;
    border-radius: 16px;
    padding: 24px;
    color: white;

    /* 사각형 균일 내부 그림자 */
    /*box-shadow:*/
    /*        inset 0 0 40px #0f172a,*/
    /*        0 12px 30px rgba(0, 0, 0, 0.35);*/
}

.songGrid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

.songItem {
    display: flex;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid #bac1cc;
}

.albumArtWrapper {
    position: relative;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.albumArt {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.playOverlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 4px;
}

.albumArtWrapper:hover .playOverlay {
    opacity: 1;
}

.songDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.songTitle {
    display: block;
    font-weight: 800;
    font-size: 1rem;
}

.artistName {
    font-size: 0.8rem;
    color: #fafafa;
}

.songFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.releaseDate {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.7rem;
    color: #fafafa;
}

.linkIcon {
    color: #ff4b4b;
}